@charset "utf-8";
@import url(normalize.css);
        #container{
            background-color: rgb(190, 217, 231);
            width: 980px;
            margin: 0px auto;
        }
        header{
            background-color: #E0B853;
        }
        main{
            background-color: #3b6fff;
        }
        footer{
            background-color:#00eb5a;
        }
        h1{
            color: rgb(255, 38, 0);
            background-color: #60f7ab;
            margin: 40px auto;
            padding: 30px;
            border: 5px solid #fffb2a;
            width: 300px;
            font-size: 300%;
            text-align: center;
            line-height: 1;
        }
        a{
            color: #ff0000;
        }
        a:hover{
            color: #0feec9;
            text-decoration: none;
        }
        h2{
            padding: 10px;
            margin-bottom: 30px;
            border: 1px dotted #e4241d;
            border-left: 10px solid #6d12ff;
            color:#08af6f;
        }
        #contents{
            margin: 40px;
            padding: 40px 80px;
            border: 1px solid #3572f7;
            background-color: #b67ef7;
        }
        .more{
            text-align: right;
        }
        .h{
            padding: 10px;
            margin-bottom: 30px;
            border-left: 10px solid #D053E0;
            color:#ffffff;
        }
        .h-sub span{
            font-weight: normal;
        }
        .round{
            border-radius: 50%;
        }
        #contents > section+section{
            margin-top: 80px;
        }
        header,nav,footer{
            text-align: center;
        }