@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
body,ul{
    margin: 0px;
}
header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
nav{
    background-color: rgba(225, 185, 253, 0.945);
}
nav ul{
    display: flex;
    justify-content: right;
}
nav li{
    list-style-type: none;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
}
nav a:hover{
    background-color: #fff;
    color: rgb(0, 0, 0);
    transition: background-color 1s linear,color 1s ease-in;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(237, 211, 255, 0.959);
}
.title{
    text-align: center;
    font-family: 'Whisper', cursive;
}
#photolist ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}
#photolist li{
    list-style-type: none;
    margin: 10px;
}
#photolist img{
    border-radius: 10%;
    box-shadow: 5px 5px 10px gray;
}
#photolist .ac{
    width: 200px;
}
.gotop{
    font-size: 30px;
    color: black;
    position: fixed;
    right: 20px;
    bottom: 10px;    
}
